.adventure {
    padding-bottom: 64px;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: 1246px) {
            display: flex;
            flex-direction: row;
            gap: 32px;
        }
    }

    &__yacht {
        background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "DM Sans";
        font-size: 32px;
        font-style: italic;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1.44px;
        gap: 20px;
    }

    &__box {
        display: flex;
        gap: 14px;

        @media screen and (max-width: 250px) {
            flex-wrap: wrap;
        }

        @media screen and (min-width: 728px) {
            gap: 32px;
            margin-left: auto;

        }
    }

    &__title {
        color: $logo-color;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1.44px;
        width: 100%;

        @media screen and (min-width: 728px) {
            width: 460px;

        }
    }

    &__text {
        color: $logo-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.28px;
        width: 100%;


        @media screen and (min-width: 728px) {
            width: 185px;

        }

        @media screen and (min-width: 1246px) {
            line-height: 1.4;
        }
    }


}