.dream {


    .container {
        padding: 983px 15px 0px 15px;
        position: relative;
        z-index: 9;

        @media screen and (min-width: 728px) {
            padding: 1035px 15px 0px 15px;
        }

        @media screen and (min-width: 1246px) {
            padding: 637px 15px 0px 15px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 900px;
            left: 0px;
            width: 255px;
            height: 255px;
            background-color: $accent-color;
            opacity: 0.6;
            filter: blur(100px);
            z-index: -3;

            @media screen and (max-width: 361px) {
                width: 100%;
            }
    
            @media screen and (min-width: 728px) {
                top: 950px;
                left: 0;
                width: 399px;
                height: 399px;
                border-radius: 399px;
                background: $accent-color;
            }

            @media screen and (min-width: 1246px) {
                top: 600px;
                left: 200px;
                width: 414px;
                height: 414px;
                border-radius: 414px;
                background: $accent-color;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 850px;
            right: 0px;
            width: 195px;
            height: 195px;
            background: #A6A9B2;
            opacity: 0.3;
            filter: blur(100px);
            z-index: -3;
            
            @media screen and (max-width: 361px) {
                width: 100%;
            }
    
            @media screen and (min-width: 728px) {
                top: 900px;
                right: 0px;
                width: 304px;
                height: 304px;
                border-radius: 304px;
            }
            
            @media screen and (min-width: 1246px) {
                top: 600px;
                right: 200px;
                width: 316px;
                height: 316px;
                border-radius: 316px;
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__items > &__item:nth-child(1) {
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateY(-983px);
        gap: 24px;
        z-index: -4;

        @media screen and (min-width: 728px) {
            transform: translateY(-1035px);
            gap: 32px;
        }

        @media screen and (min-width: 1246px) {
            transform: translateY(-637px);
        }
    }

    &__img {
        width: 100%;

        @media screen and (min-width: 728px) {
            
            .dream__items > .dream__item:nth-child(1) > picture:nth-child(2) > & {
                width: 308px;
            }  

            .dream__items > .dream__item:nth-child(1) > picture:nth-child(3) > & {
                width: 260px;
                position: absolute;
                top: 863px;
                left: 340px;
            }
        }

        @media screen and (min-width: 1246px) {
            
            .dream__items > .dream__item:nth-child(1) > picture:nth-child(1) > & {
                width: 533px;
                margin: 0px 0px 0px 340px;
            }  

            .dream__items > .dream__item:nth-child(1) > picture:nth-child(2) > & {
                position: absolute;
                top: 253px;
                left: 0px;
            }  

            .dream__items > .dream__item:nth-child(1) > picture:nth-child(3) > & {
                width: 260px;
                position: absolute;
                top: 505px;
                left: 340px;
            }
        }

        .dream__items > .dream__item:nth-child(1) > picture:nth-child(3) > & {
            margin: 0px 0px 0px auto;
            width: 260px;
        }
    }


    &__items > &__item:nth-child(2) {
        z-index: 5;
        gap: 40px;
        position: relative;
        
        @media screen and (min-width: 728px) {
            margin: 0px auto;
            width: 641px;
            gap: 64px;
        }


        @media screen and (min-width: 1246px) {
            width: 882px;
        }
    }

    &__title {
        width: 100%;
        color: $logo-color;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -1.62px;

        
        @media screen and (min-width: 728px) {
            font-size: 71px; // не 71px тому-що переніс неправильний би був, у макеті тому-що баги є у фігмі 
            letter-spacing: -3.15px;
        }
        
        @media screen and (min-width: 1246px) {
            font-size: 100px;
            letter-spacing: -4.5px;
        }
    }

    &__btn {
        margin: 0px auto auto 0px;
        border: none;
        outline: 1px solid $logo-color;
        color: $logo-color;
        border-radius: 60px;
        padding: 14px 28px;
        color: $logo-color;
        background-color: transparent;
        cursor: pointer;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: -0.63px;
        transition: 250ms;

        &:hover, &:focus {
            background: transparent;
            color: $accent-color;
            outline: 1px solid $italic-color;
        }

        @media screen and (min-width: 728px) {
            font-size: 18px;
            letter-spacing: -0.81px;
        }

    }
}
