.rent {
    padding-bottom: 80px;

    @media screen and (min-width: 728px) {
        padding-bottom: 100px;
    }

    @media screen and (min-width: 1246px) {
        padding-bottom: 164px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 5;

        &::before {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 283px;
            height: 283px;
            border-radius: 283px;
            opacity: 0.6;
            background: $accent-color;
            filter: blur(130px);
            z-index: -3;
            
            @media screen and (max-width: 361px) {
                width: 100%;
            }

            @media screen and (min-width: 728px) {
                width: 413px;
                height: 100%;
                border-radius: 413px; 
            }

            @media screen and (min-width: 1246px) {
                width: 414px;
                border-radius: 414px;
            }
        }

        @media screen and (min-width: 728px) {
            flex-direction: row;
        }

        @media screen and (min-width: 1246px) {
            justify-content: center;
            gap: 188px;
        }
    }




    .title__box {
        margin-bottom: 40px;

        @media screen and (min-width: 728px) {
            margin-bottom: 0;
        }
    }

    &__title {
        color: #F6F5EF;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1.62px;
        margin-bottom: 16px;

        @media screen and (min-width: 728px) {
            font-size: 60px;
            width: 287px;
            margin-bottom: 32px;
        }

        @media screen and (min-width: 1246px) {
            margin-bottom: 64px;
        }
    }

    &__img {
        width: 259px;

        @media screen and (min-width: 728px) {
            width: 271px;
        }

        @media screen and (min-width: 1246px) {
            width: 282px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0px;

        @media screen and (min-width: 728px) {
            gap: 28px;
            padding: 5px 0px 0px 0px;
        }

        @media screen and (min-width: 728px) {
            gap: 28px;
            padding: 9px 0px 0px 0px;
        }
    }

    &__input {
        width: 100%;
        color: #F6F5EF;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.63px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $logo-color;
        outline: none;
        transition: 250ms;
        padding: 0px 0px 16px 0px;

        @media screen and (min-width: 728px) {
            width: 364px;
            font-size: 16px;
            letter-spacing: -0.72px;
        }

        @media screen and (min-width: 1246px) {
            width: 443px;
        }

        &:focus, &:hover {
            border-bottom: 1px solid $accent-color;
        }
    }

    &__comment {

        @media screen and (min-width: 728px) {
            margin-bottom: 16px;
            font-size: 16px;
            letter-spacing: -0.72px;
        }

        @media screen and (min-width: 1246px) {
            margin-bottom: 53px;
        }
    }

    &__textarea {
        padding: 0px 0px 35px 0px;
        width: 100%;
        border: none;
        border-bottom: 1px solid $logo-color;
        background-color: transparent;
        color: $logo-color;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.63px;
        outline: none;
        transition: 250ms;
        overflow: hidden;

        @media screen and (min-width: 728px) {
            font-size: 16px;
            letter-spacing: -0.72px;
        }

        @media screen and (min-width: 1246px) {
        }

        &:focus, &:hover {
            border-bottom: 1px solid $accent-color;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 0px auto auto 0px;
        outline: none;
        border: 1px solid $logo-color;
        border-radius: 60px;
        padding: 14px 28px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: -0.04em;
        color: $logo-color;
        background-color: transparent;
        transition: 250ms;

        @media screen and (min-width: 728px) {
            width: 132px;
            height: 48px;
            font-size: 18px;
            margin: auto 0px 0px 0px;
        }

        &:hover, &:focus {
            border: 1px solid $accent-color;
            color: $accent-color;

            .rent__button-icon {
                fill: $accent-color;
            }
        }


        &-icon {
            width: 18px;
            height: 8.66px;
            fill: $logo-color;
            transition: 250ms;
        }
    }
}