.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 10;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.2);
    transition: 250ms;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 335px;
    padding: 40px 24px;
    border-radius: 20px;
    background-color: $bcg-color;
    transform: translate(-50%, -50%) scale(1);
    transition: 250ms;


    @media screen and (max-width: 362px) {
        width: 100%;
    }

    @media screen and (min-width: 728px) {
        width: 570px;
        height: 522px;
        border-radius: 40px;
        padding: 97px 64px 64px 64px;
    }

    &__picture {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 142px;
            height: 142px;
            transform: rotate(-45.074deg);
            background: $accent-color;
            opacity: 0.6;
            filter: blur(100px);
            z-index: -1;

            @media screen and (min-width: 728px) {
                width: 265px;
                height: 265px;
                border-radius: 265px;
            }
        }
    }
    
    &__yacht {
        width: 100%;
        margin: 0 auto;
        
        @media screen and (min-width: 728px) {
            width: 338px;
        }
    }

    &__title {
        margin-top: 24px;
        margin-bottom: 14px;
        color: $logo-color;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1.08px;

        @media screen and (min-width: 728px) {
            font-size: 32px;
            letter-spacing: -1.44px;
            margin-top: 21px;
        }
    }

    &__text {
        color: $logo-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.28px;

        @media screen and (min-width: 728px) {
            font-size: 16px;
            letter-spacing: -0.32px;




        }
    }


    &__btn {
        position: absolute;
        top: 14px;
        right: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        transition: 250ms;

        &:hover>.modal__icon,
        &:focus>.modal__icon {
            transform: scale(1.25);
        }

        @media screen and (min-width: 728px) {
            top: 32px;
            right: 32px;
        }
    }

    .modal__icon {
        stroke: $logo-color;
        transition: 250ms;

        width: 20px;

        @media screen and (min-width: 728px) {
            width: 24px; 
        }
    }
}