html {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-color: $bcg-color $black-color;
}

body {
    position: relative;
    font-family: "DM Sans", serif;
    background-color: $black-color;
}