a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  font-family: "DM Sans", serif;
  background-color: #A1B5BA;
}

.container {
  max-width: 1246px;
  margin: 0px auto;
  padding: 0px 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 362px) {
  .container {
    width: 362px;
  }
}
@media screen and (min-width: 728px) {
  .container {
    width: 728px;
  }
}
@media screen and (min-width: 1246px) {
  .container {
    width: 1246px;
  }
}

.hero {
  background-color: #11131F;
  padding: 40px 0px 80px 0px;
}
.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (min-width: 1246px) {
  .hero__items {
    flex-direction: row;
  }
}
.hero__item {
  position: relative;
}
@media screen and (min-width: 1246px) {
  .hero__items > .hero__item:nth-child(1) {
    order: 2;
  }
}
.hero__title {
  width: 100%;
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
}
@media screen and (min-width: 728px) {
  .hero__title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__title {
    width: 554px;
  }
}
.hero__title .hero__span {
  background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  font-style: italic;
}
@media screen and (min-width: 728px) {
  .hero__title .hero__span {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero__text {
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  margin: 14px 0px 24px 0px;
}
@media screen and (min-width: 728px) {
  .hero__text {
    width: 539px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__text {
    margin: 14px 0px 32px 0px;
  }
}
.hero__items-btn {
  display: flex;
  gap: 8px;
}
.hero__button {
  width: 100%;
  border: none;
  border-radius: 60px;
  background: #93ABAE;
  padding: 14px 28px;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
}
.hero__items-btn > .hero__item-btn:last-child > .hero__button {
  outline: 1px solid #F6F5EF;
  background: transparent;
}
.hero__items > .hero__item:nth-child(2) {
  padding: 24px 24px 24px 24px;
  background-color: #A1B5BA;
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  position: relative;
  margin: 0px 0px 19px 0px;
}
@media screen and (min-width: 728px) {
  .hero__items > .hero__item:nth-child(2) {
    width: 426px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__items > .hero__item:nth-child(2) {
    order: 1;
  }
}
.hero__clients {
  display: flex;
  position: relative;
}
.hero__client {
  z-index: 9;
}
.hero__clients > .hero__client:nth-child(2) {
  z-index: 8;
}
.hero__clients > .hero__client:nth-child(3) {
  z-index: 7;
}
.hero__icon-client {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  outline: 2px solid #93ABAE;
}
.hero__clients > .hero__client:nth-child(2) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 41px;
}
.hero__clients > .hero__client:nth-child(3) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 83px;
}
.hero__client-text {
  color: #11131F;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-top: 13px;
  margin: 13px 0px 0px 0px;
}
.hero__img {
  width: 100px;
  margin: 52px 0px 14px 0px;
}
.hero__price {
  display: flex;
  gap: 14px;
  align-items: center;
}
.hero__price-title {
  color: #11131F;
  font-size: 48px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}
@media screen and (min-width: 728px) {
  .hero__price-title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero__price-text {
  color: #11131F;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.63px;
}
@media screen and (min-width: 728px) {
  .hero__price-text {
    width: 208px;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.81px;
  }
}
.hero__img-man {
  border-radius: 24px;
  width: 133px;
  position: absolute;
  top: 35px;
  right: -12px;
}
.hero__bcg {
  position: absolute;
  bottom: -19px;
  right: 0;
  width: 200px;
  height: 19px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #A1B5BA;
}

.About {
  padding-top: 164px;
  padding-bottom: 164px;
}
.About__img {
  height: 632px;
  border-radius: 40px;
}
.About__img:nth-child(2) {
  height: 428px;
}
.About__img:last-child {
  height: 352px;
}
.About__btn {
  border-radius: 60px;
  padding: 14px 28px;
  border: none;
  background: #F6F5EF;
  color: #11131F;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */