a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

body {
  font-family: "DM Sans", serif;
  background-color: #11131F;
}

.container {
  max-width: 1246px;
  margin: 0px auto;
  padding: 0px 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 362px) {
  .container {
    width: 362px;
  }
}
@media screen and (min-width: 728px) {
  .container {
    width: 728px;
  }
}
@media screen and (min-width: 1246px) {
  .container {
    width: 1246px;
  }
}

.hero {
  padding: 40px 0px 80px 0px;
}
@media screen and (min-width: 728px) {
  .hero {
    padding: 64px 0px 100px 0px;
  }
}
@media screen and (min-width: 1246px) {
  .hero {
    padding: 64px 0px 164 px 0px;
  }
}
.hero__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (min-width: 1246px) {
  .hero__items {
    flex-direction: row;
  }
}
.hero__item {
  position: relative;
}
.hero__items > .hero__item:nth-child(1) {
  padding: 0px 0px 0px 0px;
}
@media screen and (min-width: 1246px) {
  .hero__items > .hero__item:nth-child(1) {
    order: 2;
    padding: 68px 0px 0px 0px;
  }
}
.hero__title {
  width: 100%;
  color: #F6F5EF;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
}
@media screen and (min-width: 728px) {
  .hero__title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__title {
    width: 554px;
  }
}
.hero__title .hero__span {
  background: var(--linear-green, linear-gradient(92deg, #BEC7C2 41.03%, #A1B5BA 90.31%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.62px;
  font-style: italic;
}
@media screen and (min-width: 728px) {
  .hero__title .hero__span {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero__text {
  width: 100%;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.28px;
  margin: 14px 0px 24px 0px;
}
@media screen and (min-width: 728px) {
  .hero__text {
    width: 539px;
    font-size: 16px;
    letter-spacing: -0.32px;
    margin: 16px 0px 32px 0px;
  }
}
.hero__items-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.hero__button {
  width: 100%;
  border: none;
  border-radius: 60px;
  background: #93ABAE;
  padding: 14px 28px;
  color: #F6F5EF;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.63px;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 728px) {
  .hero__button {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
}
.hero__button:hover, .hero__button:focus {
  color: #93ABAE;
  background-color: #F6F5EF;
}
.hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button {
  outline: 1px solid #F6F5EF;
  background: transparent;
  transition: 250ms ease-in-out;
}
.hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button:hover, .hero__items-btn > .hero__item-btn:nth-child(2) > .hero__button:focus {
  background-color: #F6F5EF;
}
.hero__items > .hero__item:nth-child(2) {
  padding: 24px 24px 28px 24px;
  background-color: #A1B5BA;
  border-radius: 25px;
  border-bottom-right-radius: 0px;
  position: relative;
  margin: 0px 0px 19px 0px;
}
@media screen and (min-width: 728px) {
  .hero__items > .hero__item:nth-child(2) {
    padding: 32px 32px 38px 32px;
    width: 426px;
    margin: 0px 0px 25.7px 0px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__items > .hero__item:nth-child(2) {
    order: 1;
  }
}
.hero__items > .hero__item:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: -4.57%;
  right: 0;
  width: 65%;
  height: 4.57%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #A1B5BA;
}
.hero__clients {
  display: flex;
  position: relative;
}
.hero__client {
  z-index: 9;
}
.hero__clients > .hero__client:nth-child(2) {
  position: absolute;
  top: 0px;
  left: 41px;
  z-index: 8;
}
.hero__clients > .hero__client:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 85px;
  z-index: 7;
}
.hero__icon-client {
  width: 48px;
  border-radius: 48px;
  outline: 2px solid #93ABAE;
}
@media screen and (min-width: 728px) {
  .hero__icon-client {
    width: 56px;
    border-radius: 56px;
  }
}
.hero__clients > .hero__client:nth-child(2) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 60px;
}
.hero__clients > .hero__client:nth-child(3) > .hero__icon-client {
  position: absolute;
  top: 0px;
  left: 60px;
}
.hero__client-text {
  color: #11131F;
  font-size: 14px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin: 13px 0px 0px 0px;
}
@media screen and (min-width: 728px) {
  .hero__client-text {
    margin: 11px 0px 0px 0px;
  }
}
.hero__img {
  width: 100%;
  margin: 52px 0px 14px 0px;
}
@media screen and (min-width: 728px) {
  .hero__img {
    margin: 111px 0px 22px 0px;
  }
}
.hero__price {
  display: flex;
  gap: 14px;
  align-items: center;
}
@media screen and (max-width: 200px) {
  .hero__price {
    flex-wrap: wrap;
  }
}
.hero__price-title {
  color: #11131F;
  font-size: 48px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: -2.16px;
  text-transform: uppercase;
}
@media screen and (min-width: 728px) {
  .hero__price-title {
    font-size: 60px;
    letter-spacing: -2.7px;
  }
}
.hero__price-text {
  width: 100%;
  color: #11131F;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.63px;
}
@media screen and (min-width: 728px) {
  .hero__price-text {
    width: 208px;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.81px;
  }
}
.hero__img-man {
  border-radius: 24px;
  width: 133px;
  position: absolute;
  top: 35px;
  right: -12px;
}
@media screen and (min-width: 728px) {
  .hero__img-man {
    width: 233px;
    right: -146px;
  }
}
@media screen and (min-width: 1246px) {
  .hero__img-man {
    right: -112px;
  }
}

.About {
  padding-top: 164px;
  padding-bottom: 164px;
}
.About__img {
  height: 632px;
  border-radius: 40px;
}
.About__img:nth-child(2) {
  height: 428px;
}
.About__img:last-child {
  height: 352px;
}
.About__btn {
  border-radius: 60px;
  padding: 14px 28px;
  border: none;
  background: #F6F5EF;
  color: #11131F;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.81px;
  text-align: center;
}

.team {
  padding-top: 80px;
  padding-bottom: 43px;
}
@media screen and (min-width: 728px) {
  .team {
    padding-top: 100px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1246px) {
  .team {
    padding-top: 164px;
    padding-bottom: 64px;
  }
}
.team__info__title {
  width: 100%;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
}
@media screen and (min-width: 728px) {
  .team__info__title {
    width: 497px;
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.team__info__span {
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
}
@media screen and (min-width: 728px) {
  .team__info__span {
    font-size: 32px;
    letter-spacing: -1.44px;
  }
}
.team__info__subtitle {
  width: 100%;
  color: #F6F5EF;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 728px) {
  .team__info__subtitle {
    width: 273px;
    font-size: 16px;
    letter-spacing: -0.32px;
  }
}
.team__list {
  display: flex;
  gap: 0px;
}
@media screen and (min-width: 728px) {
  .team__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1246px) {
  .team__list {
    gap: 32px;
  }
}
.team__item {
  border-radius: 24px;
  background: #1F212D;
  padding: 24px;
  text-align: center;
}
.team__list > .team__item:not(:first-child) {
  display: none;
}
@media screen and (min-width: 728px) {
  .team__list > .team__item:not(:nth-child(-n+2)) {
    display: inline;
  }
}
@media screen and (min-width: 1246px) {
  .team__list > .team__item:not(:nth-child(-n+3)) {
    display: inline;
  }
}
.team__img {
  width: 48px;
  margin: 0px auto;
}
.team__title {
  color: #F6F5EF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.72px;
  margin: 18px 0px 8px 0px;
}
.team__text {
  color: rgba(246, 245, 239, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.24px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */