@import "./base/reset";
@import "./base/variables";
@import "./base/common";
@import "./base/container";
@import "./sections/header";
@import "./sections/hero";
@import "./sections/adventure";
@import "./sections/dream";
@import "./sections/yacht";
@import "./sections/about";
@import "./sections/rent";
@import "./sections/team";
@import "./sections/footer";
@import "./sections/scroll";
@import "./sections/menu";
@import "./sections/thank";