<section class="about">
    <div class="container">
<ul class="about__list">
    <li class="about__item">
        <img src="../img/diving.png" alt="" class="about__img">
        <button type="button" class="about__btn">Diving</button>
    </li>
    <li class="about__item">
        <img src="../img/fishing.png" alt="" class="about__img">
        <button type="button" class="about__btn">Fishing</button>
    </li>
    <li class="about__item">
        <img src="../img/sunbathing.png" alt="" class="about__img">
        <button type="button" class="about__btn">Sunbathing</button>
    </li>
</ul>
</div>
</section>