<section class="about">
  <div class="container">
    <ul class="about__list">
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./img/desktop/diving-desktop@1x.webp 1x,
              ./img/desktop/diving-desktop@2x.webp 2x
            "
            media="(min-width: 1246px)"
          />
          <source
            srcset="
              ./img/tablet/diving-tablet@1x.webp 1x,
              ./img/tablet/diving-tablet@2x.webp 2x
            "
            media="(min-width: 728px)"
          />
          <source
            srcset="
              ./img/mobile/diving-mobile@1x.webp 1x,
              ./img/mobile/diving-mobile@2x.webp 2x
            "
            media="(max-width: 727px)"
          />
          <img src="./img/diving.png" alt="" class="about__img" />
        </picture>
        <button type="button" class="about__btn">Diving</button>
      </li>
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./img/desktop/fishing-desktop@1x.webp 1x,
              ./img/desktop/fishing-desktop@2x.webp 2x
            "
            media="(min-width: 1246px)"
          />
          <source
            srcset="
              ./img/tablet/fishing-tablet@1x.webp 1x,
              ./img/tablet/fishing-tablet@2x.webp 2x
            "
            media="(min-width: 728px)"
          />
          <source
            srcset="
              ./img/mobile/fishing-mobile@1x.webp 1x,
              ./img/mobile/fishing-mobile@2x.webp 2x
            "
            media="(max-width: 727px)"
          />
          <img src="./img/fishing.png" alt="" class="about__img" />
        </picture>
        <button type="button" class="about__btn">Fishing</button>
      </li>
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./img/desktop/sunbathing-desktop@1x.webp 1x,
              ./img/desktop/sunbathing-desktop@2x.webp 2x
            "
            media="(min-width: 1246px)"
          />
          <source
            srcset="
              ./img/tablet/sunbathing-tablet@1x.webp 1x,
              ./img/tablet/sunbathing-tablet@2x.webp 2x
            "
            media="(min-width: 728px)"
          />
          <source
            srcset="
              ./img/mobile/sunbathing-mobile@1x.webp 1x,
              ./img/mobile/sunbathing-mobile@2x.webp 2x
            "
            media="(max-width: 727px)"
          />
          <img src="./img/sunbathing.png" alt="" class="about__img" />
        </picture>
        <button type="button" class="about__btn">Sunbathing</button>
      </li>
    </ul>
  </div>
</section>
