<section class="About">
<ul class="About__list">
    <li class="About__item">
        <img src="" alt="" class="About__img">
        <button type="button" class="About__btn">Diving</button>
    </li>
    <li class="About__item">
        <img src="" alt="" class="About__img">
        <button type="button" class="About__btn">Fishing</button>
    </li>
    <li class="About__item">
        <img src="" alt="" class="About__img">
        <button type="button" class="About__btn">Sunbathing</button>
    </li>
</ul>
</section>