<section class="dream">
    <div class="container">
        <ul class="dream__items">
            <li class="dream__item">
                <picture>
                    <source srcset="./img/desktop/paluba-desktop@1x.webp 1x, ./img/desktop/paluba-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/paluba-tablet@1x.webp 1x, ./img/tablet/paluba-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/paluba-mobile@1x.webp 1x, ./img/mobile/paluba-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/paluba.png" alt="yacht in water" class="dream__img">
                </picture>
                <picture>
                    <!-- <source srcset="./img/desktop/?1x.webp 1x, ./img/desktop/yachtbar-desktop@2x.webp 2x" media="(min-width: 1246px)"> -->
                    <source srcset="./img/tablet/yahtbar-tablet@1x.webp 1x, ./img/tablet/yahtbar-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/bar-mobile@1x.webp 1x, ./img/mobile/bar-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/bar.png" alt="yacht in kitchen" class="dream__img">
                </picture>
                <picture>
                    <source srcset="./img/desktop/dreamyacht-desktop@1x.webp 1x, ./img/desktop/dreamyacht-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/dreamyacht-tablet@1x.webp 1x, ./img/tablet/dreamyacht-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/dreamyacht-mobile@1x.webp 1x, ./img/mobile/dreamyacht-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/dreamyacht.png" alt="yacht" class="dream__img">
                </picture>
            </li>
            <li class="dream__item">
                <h2 class="dream__title">Choose your dream yacht and sail away into the sunset</h2>
                <button class="dream__btn">Yacht rental</button>
                <div class="dream__gradient-right"></div>
                <div class="dream__gradient-left"></div>
            </li>
        </ul>
    </div>
</section>