<header class="header">
  <a href="../index.html" class="header__logo"
    ><img class="header__img" src="#" alt="logo" />YACHTS ADVENTURES</a>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">about</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">yachts</a>
      </li>
      <li class="header-nav__item">
        <a class="header-nav__link" href="#">reviews</a>
      </li>
    </ul>
  </nav>
</header>
