<div class="backdrop is-hidden" id="mobile-menu" data-modal-header>
    <div class="container">
      <div class="backdrop__logos">
        <a class="header__logo" href="./index.html">
          <svg class="header__icon">
            <use href="./img/symbol-defs.svg#icon-logo"></use>
          </svg>
          yacht Adventures
        </a>
        <button class="backdrop__close" data-modal-header-close>
          <svg class="backdrop__close-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <div class="backdrop__nav">
        <ul class="backdrop__list">
          <li class="backdrop__item">
            <a class="backdrop__link" href="./index.html">About</a>
          </li>
          <li class="backdrop__item">
            <a class="backdrop__link" href="#">Yachts</a>
          </li>
          <li class="backdrop__item">
            <a class="backdrop__link" href="#">Reviews</a>
          </li>
        </ul>
    </div>
  </div>
  </div>
  