<section class="thank">
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <button class="modal__btn" type="button" data-modal-close>
        <svg class="modal__icon" width="24" height="24">
          <use href="./img/symbol-defs.svg#icon-x"></use>
        </svg>
      </button>
      <picture class="modal__picture">
        <source
          srcset="
            ./img/desktop/cardyacht-desktop@1x.webp 1x,
            ./img/desktop/cardyacht-desktop@2x.webp 2x
          "
          media="(min-width: 1246px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/tablet/cardyacht-tablet@1x.webp 1x,
            ./img/tablet/cardyacht-tablet@2x.webp 2x
          "
          media="(min-width: 728px)"
          type="image/png"
        />
        <source
          srcset="
            ./img/mobile/cardyacht-mobile@1x.webp 1x,
            ./img/mobile/cardyacht-mobile@2x.webp 2x
          "
          media="(max-width: 727px)"
          type="image/png"
        />
        <img src="./img/cardyacht.png" alt="yacht" class="modal__yacht" />
      </picture>
      <h3 class="modal__title">Thank you</h3>
      <p class="modal__text">
        Thank you for choosing Yacht Adventures, your booking details have been
        received and our team will be in touch shortly to confirm your reservation
        and provide any additional information or assistance you may need.
      </p>
    </div>
</div>
</section>