<section class="yacht">
    <div class="container">
        <ul class="yacht__items">
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/arrow-desktop@1x.webp 1x, ./img/desktop/arrow-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/arrow-tablet@1x.webp 1x, ./img/tablet/arrow-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/arrow-mobile@1x.webp 1x, ./img/mobile/arrow-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/arrow.png" alt="yacht" class="yacht__img">
                </picture> 
                <div class="yacht__name">
                    <h2 class="yacht__title">Arrow</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">BUILDER </p>
                        <p class="yacht__text">BUILT  </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">48m(155ft) </p>
                        <p class="yacht__text">Admiral</p>
                        <p class="yacht__text">2021</p>
                        <p class="yacht__text">11 in 5 cabins</p>
                        <p class="yacht__text">€33,500,000</p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/benett-desktop@1x.webp 1x, ./img/desktop/benett-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/banneti-tablet@1x.webp 1x, ./img/tablet/banneti-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/benetti-mobile@1x.webp 1x, ./img/mobile/benetti-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/banneti.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">BENETTI OASIS 40M...</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD </p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">41m (133ft)</p>
                        <p class="yacht__text">Benetti</p>
                        <p class="yacht__text">2025</p>
                        <p class="yacht__text">10 in 5 cabins</p>
                        <p class="yacht__text">€23,210,000</p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/belle-desktop@1x.webp 1x, ./img/desktop/belle-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/belle-tablet@1x.webp 1x, ./img/tablet/belle-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/belle-mobile@1x.webp 1x, ./img/mobile/belle-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/belle.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">BELLE ANNA</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD</p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">50m(155ft) </p>
                        <p class="yacht__text">ISA</p>
                        <p class="yacht__text">2012</p>
                        <p class="yacht__text">12 in 6 cabins</p>
                        <p class="yacht__text">€21,000,000</p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/ellen-desktop@1x.webp 1x, ./img/desktop/ellen-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/ellen-tablet@1x.webp 1x, ./img/tablet/ellen-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/ellen-mobile@1x.webp 1x, ./img/mobile/ellen-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/ellen.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">Ellen</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD</p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">40m (132ft)</p>
                        <p class="yacht__text">Perini Navi</p>
                        <p class="yacht__text">2001 / 2016 (refitted)</p>
                        <p class="yacht__text">9 in 4 cabins</p>
                        <p class="yacht__text">€9,300,000</p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/mirage-desktop@1x.webp 1x, ./img/desktop/mirage-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/mirage-tablet@1x.webp 1x, ./img/tablet/mirage-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/mirage-mobile@1x.webp 1x, ./img/mobile/mirage-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/mirage.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">MIRAGE 401</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD</p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">38m (125ft)</p>
                        <p class="yacht__text">Gianetti Custom Yachts</p>
                        <p class="yacht__text">2024</p>
                        <p class="yacht__text">10 in 5 cabins</p>
                        <p class="yacht__text">€13,500,000 </p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/king-desktop@1x.webp 1x, ./img/desktop/king-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/king-tablet@1x.webp 1x, ./img/tablet/king-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/king-mobile@1x.webp 1x, ./img/mobile/king-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/king.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">KING</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD</p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">33m (109ft)</p>
                        <p class="yacht__text">Overmarine</p>
                        <p class="yacht__text">2004 / 2018 (refitted)</p>
                        <p class="yacht__text">9 in 4 cabins</p>
                        <p class="yacht__text">€1,850,000</p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/salt-desktop@1x.webp 1x, ./img/desktop/salt-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/salt-tablet@1x.webp 1x, ./img/tablet/salt-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/salt-mobile@1x.webp 1x, ./img/mobile/salt-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/salt.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">SALT</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">BUILDER </p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">32m (105ft)</p>
                        <p class="yacht__text">SanLorenzo</p>
                        <p class="yacht__text">2019</p>
                        <p class="yacht__text">11 in 5 cabins</p>
                        <p class="yacht__text">€7,800,000 </p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/storm-desktop@1x.webp 1x, ./img/desktop/storm-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/storm-tablet@1x.webp 1x, ./img/tablet/storm-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/storm-mobile@1x.webp 1x, ./img/mobile/storm-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/storm.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">STORM</h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio">
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD</p>
                        <p class="yacht__text">BUILT </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE</p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">32m (103ft)</p>
                        <p class="yacht__text">Overmarine</p>
                        <p class="yacht__text">2005 / 2022 (refitted)</p>
                        <p class="yacht__text">9 in 4 cabins</p>
                        <p class="yacht__text">€2,900,000 </p>
                    </div>
                </div>
            </li>
            <li class="yacht__item">
                <picture>
                    <source srcset="./img/desktop/collu-desktop@1x.webp 1x, ./img/desktop/collu-desktop@2x.webp 2x" media="(min-width: 1246px)">
                    <source srcset="./img/tablet/collu-tablet@1x.webp 1x, ./img/tablet/collu-tablet@2x.webp 2x" media="(min-width: 728px)">
                    <source srcset="./img/mobile/collu-mobile@1x.webp 1x, ./img/mobile/collu-mobile@2x.webp 2x" media="(max-width: 727px)">
                    <img src="./img/collu.png" alt="yacht" class="yacht__img">
                </picture>
                <div class="yacht__name">
                    <h2 class="yacht__title">COLLU </h2>
                    <p class="yacht__subtitle">LUXURY YAHTS </p>
                </div>
                <div class="yacht__descriptions">
                    <div class="yacht__descriptions-bio"> 
                        <p class="yacht__text">LENGTH  </p>
                        <p class="yacht__text">SHIPYARD</p>
                        <p class="yacht__text">BUILT  </p>
                        <p class="yacht__text">GUESTS </p>
                        <p class="yacht__text">PRICE </p>
                    </div>
                    <div class="yacht__descriptions-opis">
                        <p class="yacht__text">29m (96ft)</p>
                        <p class="yacht__text">Ferretti</p>
                        <p class="yacht__text">2014</p>
                        <p class="yacht__text">10 in 5 cabins</p>
                        <p class="yacht__text">$4,300,000</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>